<h1>Editing smart plug device</h1>

<%= render "form", smart_plug_device: @smart_plug_device %>

<br>

<div>
  <%= link_to "Show this smart plug device", @smart_plug_device %> |
  <%= link_to "Back to smart plug devices", smart_plug_devices_path %>
</div>
