<p style="color: green"><%= notice %></p>

<h1>Smart plug devices</h1>

<div id="smart_plug_devices">
  <% @smart_plug_devices.each do |smart_plug_device| %>
    <%= render smart_plug_device %>
    <p>
      <%= link_to "Show this smart plug device", smart_plug_device %>
    </p>
  <% end %>
</div>

<%= link_to "New smart plug device", new_smart_plug_device_path %>
