<div id="<%= dom_id network %>">
  <p>
    <strong>Title:</strong>
    <%= network.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= network.description %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= network.active %>
  </p>

</div>
