= render @network
%div
  = link_to "Edit this network", edit_network_path(@network)
  |
  = link_to "Back to networks", networks_path
  |
  = link_to 'Destroy this network', network_path(@network), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}