<div id="<%= dom_id event_log %>">
  <p>
    <strong>Title:</strong>
    <%= event_log.title %>
  </p>

  <p>
    <strong>Event date:</strong>
    <%= event_log.event_date %>
  </p>

  <p>
    <strong>Endpoint device:</strong>
    <%= event_log.endpoint_device_id %>
  </p>

</div>
