= render 'shared/breadcrumbs', title: 'Switch Lists'

%h1 Switch Lists

#switch_lists
  - @smart_plug_devices.each do |smart_plug_device|
    .form-check.form-switch
      %input#flexSwitchCheckDefault.form-check-input{role: "switch", type: "checkbox", disabled: true}
      %label.form-check-label{for: "flexSwitchCheckDefault#{smart_plug_device.id}"}= smart_plug_device.title