%header
  .px-3.py-2.text-bg-dark
    .container
      .d-flex.flex-wrap.align-items-center.justify-content-center.justify-content-lg-start
        %a.d-flex.align-items-center.my-2.my-lg-0.me-lg-auto.text-white.text-decoration-none{href: "/"}
          %svg.bi.me-2{"aria-label" => "Bootstrap", height: "32", role: "img", width: "40"}
            %use{"xlink:href" => "#bootstrap"}
        %ul.nav.col-12.col-lg-auto.my-2.justify-content-center.my-md-0.text-small
          %li
            %a.nav-link.text-secondary{href: "#"}
              %svg.bi.d-block.mx-auto.mb-1{height: "24", width: "24"}
                %use{"xlink:href" => "#home"}
              Home
          %li
            %a.nav-link.text-white{href: "#"}
              %svg.bi.d-block.mx-auto.mb-1{height: "24", width: "24"}
                %use{"xlink:href" => "#speedometer2"}
              Uptime Stats
          %li
            %a.nav-link.text-white{href: "#"}
              %svg.bi.d-block.mx-auto.mb-1{height: "24", width: "24"}
                %use{"xlink:href" => "#table"}
              Saved Energy
          %li
            %a.nav-link.text-white{href: "#"}
              %svg.bi.d-block.mx-auto.mb-1{height: "24", width: "24"}
                %use{"xlink:href" => "#grid"}
              Switch List
          %li
            %a.nav-link.text-white{href: "#"}
              %svg.bi.d-block.mx-auto.mb-1{height: "24", width: "24"}
                %use{"xlink:href" => "#people-circle"}
              Event Log
          %li
            %a.nav-link.text-white{href: "#"}
              %svg.bi.d-block.mx-auto.mb-1{height: "24", width: "24"}
                %use{"xlink:href" => "#people-circle"}
              Ping Stats
          %li
            %a.nav-link.text-white{href: "#"}
              %svg.bi.d-block.mx-auto.mb-1{height: "24", width: "24"}
                %use{"xlink:href" => "#people-circle"}
              Scheduled Events
          %li
            %a.nav-link.text-white{href: "#"}
              %svg.bi.d-block.mx-auto.mb-1{height: "24", width: "24"}
                %use{"xlink:href" => "#people-circle"}
              Custom Rules
          %li
            %a.nav-link.text-white{href: "#"}
              %svg.bi.d-block.mx-auto.mb-1{height: "24", width: "24"}
                %use{"xlink:href" => "#people-circle"}
              Settings