- if @current_network
  %header
    .px-3.py-2.text-bg-dark
      .container
        .d-flex.flex-wrap.align-items-center.justify-content-center.justify-content-lg-start
          %a.d-flex.align-items-center.my-2.my-lg-0.me-lg-auto.text-white.text-decoration-none{href: "/"}
            %svg.bi.me-2{"aria-label" => "Bootstrap", height: "32", role: "img", width: "40"}
              %use{"xlink:href" => "#bootstrap"}
          %ul.nav.col-12.col-lg-auto.my-2.justify-content-center.my-md-0.text-small
            %li
              %a.nav-link{href: network_dashboards_path(@current_network), class: selected_menu(controller_name, 'dashboard')}
                %svg.bi.d-block.mx-auto.mb-1{height: "24", width: "24"}
                  %use{"xlink:href" => "#home"}
                Home
            %li
              %a.nav-link{href: network_uptime_stats_path(@current_network), class: selected_menu(controller_name, 'uptime_stats')}
                %svg.bi.d-block.mx-auto.mb-1{height: "24", width: "24"}
                  %use{"xlink:href" => "#stopwatch"}
                Uptime Stats
            %li
              %a.nav-link{href: network_saved_energies_path(@current_network), class: selected_menu(controller_name, 'saved_energies')}
                %svg.bi.d-block.mx-auto.mb-1{height: "24", width: "24"}
                  %use{"xlink:href" => "#currency-exchange"}
                Saved Energy
            %li
              %a.nav-link{href: '#', class: selected_menu(controller_name, 'switch_lists')}
                %svg.bi.d-block.mx-auto.mb-1{height: "24", width: "24"}
                  %use{"xlink:href" => "#toggles"}
                Switch List
            %li
              %a.nav-link{href: network_event_logs_path(@current_network), class: selected_menu(controller_name, 'event_logs')}
                %svg.bi.d-block.mx-auto.mb-1{height: "24", width: "24"}
                  %use{"xlink:href" => "#calendar-week"}
                Event Log
            %li
              %a.nav-link{href: network_ping_stats_path(@current_network), class: selected_menu(controller_name, 'ping_stats')}
                %svg.bi.d-block.mx-auto.mb-1{height: "24", width: "24"}
                  %use{"xlink:href" => "#broadcast-pin"}
                Ping Stats
            %li
              %a.nav-link{href: network_scheduled_events_path(@current_network), class: selected_menu(controller_name, 'scheduled_events')}
                %svg.bi.d-block.mx-auto.mb-1{height: "24", width: "24"}
                  %use{"xlink:href" => "#send"}
                Scheduled Events
            %li
              %a.nav-link{href: '#', class: selected_menu(controller_name, 'custom_rules')}
                %svg.bi.d-block.mx-auto.mb-1{height: "24", width: "24"}
                  %use{"xlink:href" => "#file-text"}
                Custom Rules
            %li
              %a.nav-link{href: network_endpoint_devices_path(@current_network), class: selected_menu(controller_name, 'endpoint_devices')}
                %svg.bi.d-block.mx-auto.mb-1{height: "24", width: "24"}
                  %use{"xlink:href" => "#bi-router"}
                Devices
            %li
              %a.nav-link{href: network_smart_plug_devices_path(@current_network), class: selected_menu(controller_name, 'smart_plug_devices')}
                %svg.bi.d-block.mx-auto.mb-1{height: "24", width: "24"}
                  %use{"xlink:href" => "#bi-plug"}
                Smart Plugs
            %li
              %a.nav-link{href: network_networks_path(@current_network), class: selected_menu(controller_name, 'networks')}
                %svg.bi.d-block.mx-auto.mb-1{height: "24", width: "24"}
                  %use{"xlink:href" => "#bi-gear"}
                Network profiles
- else
  %header
    .px-3.py-2.text-bg-dark
      .container
        .d-flex.flex-wrap.align-items-center.justify-content-center.justify-content-lg-start
          %a.d-flex.align-items-center.my-2.my-lg-0.me-lg-auto.text-white.text-decoration-none{href: "/"}
            %svg.bi.me-2{"aria-label" => "Bootstrap", height: "32", role: "img", width: "40"}
              %use{"xlink:href" => "#bootstrap"}
          %ul.nav.col-12.col-lg-auto.my-2.justify-content-center.my-md-0.text-small
            %li
              %a.nav-link{href: root_path, class: selected_menu(controller_name, 'dashboard')}
                %svg.bi.d-block.mx-auto.mb-1{height: "24", width: "24"}
                  %use{"xlink:href" => "#home"}
                Home
            %li
              %a.nav-link{href: networks_path, class: selected_menu(controller_name, 'networks')}
                %svg.bi.d-block.mx-auto.mb-1{height: "24", width: "24"}
                  %use{"xlink:href" => "#bi-gear"}
                Network profiles
