<div id="<%= dom_id current_state %>">
  <p>
    <strong>State:</strong>
    <%= current_state.state %>
  </p>

  <p>
    <strong>Smart plug device:</strong>
    <%= current_state.smart_plug_device_id %>
  </p>

  <p>
    <strong>Network:</strong>
    <%= current_state.network_id %>
  </p>

</div>
