<p style="color: green"><%= notice %></p>

<h1>Current states</h1>

<div id="current_states">
  <% @current_states.each do |current_state| %>
    <%= render current_state %>
    <p>
      <%= link_to "Show this current state", current_state %>
    </p>
  <% end %>
</div>

<%= link_to "New current state", new_current_state_path %>
