<div id="<%= dom_id scheduled_event %>">
  <p>
    <strong>Event date:</strong>
    <%= scheduled_event.event_date %>
  </p>

  <p>
    <strong>Smart plug device:</strong>
    <%= scheduled_event.smart_plug_device_id %>
  </p>

  <p>
    <strong>Action:</strong>
    <%= scheduled_event.action %>
  </p>

</div>
