<h1>Editing scheduled event</h1>

<%= render "form", scheduled_event: @scheduled_event %>

<br>

<div>
  <%= link_to "Show this scheduled event", @scheduled_event %> |
  <%= link_to "Back to scheduled events", scheduled_events_path %>
</div>
