<p style="color: green"><%= notice %></p>

<h1>Scheduled events</h1>

<div id="scheduled_events">
  <% @scheduled_events.each do |scheduled_event| %>
    <%= render scheduled_event %>
    <p>
      <%= link_to "Show this scheduled event", scheduled_event %>
    </p>
  <% end %>
</div>

<%= link_to "New scheduled event", new_scheduled_event_path %>
