<h1>Editing endpoint device</h1>

<%= render "form", endpoint_device: @endpoint_device %>

<br>

<div>
  <%= link_to "Show this endpoint device", @endpoint_device %> |
  <%= link_to "Back to endpoint devices", endpoint_devices_path %>
</div>
