%h1 Editing endpoint device
= render "form", endpoint_device: @endpoint_device
%br
%div
  = link_to "Show this endpoint device", network_endpoint_device_path(@current_network, @endpoint_device)
  = link_to "Back to endpoint devices", network_endpoint_devices_path(@current_network)