<p style="color: green"><%= notice %></p>

<h1>Endpoint devices</h1>

<div id="endpoint_devices">
  <% @endpoint_devices.each do |endpoint_device| %>
    <%= render endpoint_device %>
    <p>
      <%= link_to "Show this endpoint device", endpoint_device %>
    </p>
  <% end %>
</div>

<%= link_to "New endpoint device", new_endpoint_device_path %>
