<p style="color: green"><%= notice %></p>

<h1>Uptime stats</h1>

<div id="uptime_stats">
  <% @uptime_stats.each do |uptime_stat| %>
    <%= render uptime_stat %>
    <p>
      <%= link_to "Show this uptime stat", uptime_stat %>
    </p>
  <% end %>
</div>

<%= link_to "New uptime stat", new_uptime_stat_path %>
