<div id="<%= dom_id saved_energy %>">
  <p>
    <strong>Smart plug device:</strong>
    <%= saved_energy.smart_plug_device_id %>
  </p>

  <p>
    <strong>Savings:</strong>
    <%= saved_energy.savings %>
  </p>

  <p>
    <strong>Network:</strong>
    <%= saved_energy.network_id %>
  </p>

</div>
