<h1>Editing saved energy</h1>

<%= render "form", saved_energy: @saved_energy %>

<br>

<div>
  <%= link_to "Show this saved energy", @saved_energy %> |
  <%= link_to "Back to saved energies", saved_energies_path %>
</div>
