<p style="color: green"><%= notice %></p>

<h1>Saved energies</h1>

<div id="saved_energies">
  <% @saved_energies.each do |saved_energy| %>
    <%= render saved_energy %>
    <p>
      <%= link_to "Show this saved energy", saved_energy %>
    </p>
  <% end %>
</div>

<%= link_to "New saved energy", new_saved_energy_path %>
