.card{style: "width: 25rem;"}
  .card-body
    %h5.card-title Event Log
    %table.table.table-striped
      %thead
        %tr
          %th{scope: "col"} ID
          %th{scope: "col"} Event
          %th{scope: "col"} Event Date
          %th{scope: "col"} Endpoint Device
        %tbody{class: 'table-group-divider'}
        - @event_logs.each do |event_log|
          %tr
            %td
              = event_log.id
            %td
              = event_log.status
            %td
              = event_log.event_date
            %td
              = event_log.endpoint_device.title