.card{style: "width: 25rem;"}
  .card-body
    %h5.card-title
      = link_to 'Saved Energy', network_saved_energies_path(@current_network)

    - if @saved_energies.count > 0
      %table.table
        %thead
          %tr
            %th{scope: "col"} Day
            %th{scope: "col"} Plug
            %th{scope: "col"} Savings (Wh)
        %tbody{class: 'table-group-divider'}
          - @saved_energies.each do |saved_energy|
            %tr
              %th
                = saved_energy.day
              %td
                = saved_energy.smart_plug_device.title
              %td
                = saved_energy.savings