<h1>Editing ping stat</h1>

<%= render "form", ping_stat: @ping_stat %>

<br>

<div>
  <%= link_to "Show this ping stat", @ping_stat %> |
  <%= link_to "Back to ping stats", ping_stats_path %>
</div>
